/* The way we lay things out on a page
  - width, height, float, flexbox, css grid, margins, positioning
*/


/*************************************************************/
/************************* Overall ***************************/
/*************************************************************/

body{
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: column; */
  text-align: center;
}

div{
  border: slateblue 1px solid;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

/*************************************************************/
/**************** Mobile Header (Box A) **********************/
/*************************************************************/

header#block-a{
  height: 75px;
  width: 100%;
  line-height: 75px;
  border: slateblue 1px solid;
}


/*************************************************************/
/********************** Mobile Box B *************************/
/*************************************************************/

div#block-b{
  height: 150px;
  width: 100%;
  line-height: 150px;
}


/*************************************************************/
/********************** Mobile Box C *************************/
/*************************************************************/

div#block-c{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box D *************************/
/*************************************************************/

div#block-d{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box E *************************/
/*************************************************************/

div#block-e{
  height: 250px;
  width: 50%;
  line-height: 250px;
  flex-shrink: 1;

}


/*************************************************************/
/********************** Mobile Box F *************************/
/*************************************************************/

div#block-f{
  height: 250px;
  width: 50%;
  line-height: 250px;
  flex-shrink: 1;

}


/*************************************************************/
/********************** Mobile Box G *************************/
/*************************************************************/

div#block-g{
  height: 250px;
  width: 50%;
  line-height: 250px;

}


/*************************************************************/
/********************** Mobile Box H *************************/
/*************************************************************/

div#block-h{
  height: 250px;
  width: 50%;
  line-height: 250px;

}


/*************************************************************/
/********************** Mobile Box I *************************/
/*************************************************************/

div#block-i{
  height: 80px;
  width: 100%;
  line-height: 80px; 
}

/*************************************************************/
/********************** Media Queries ************************/
/*************************************************************/


/* Sets the color of the blocks for mobile screens */
@media screen and (max-width: 600px) {
  header{
    background-color: rgb(94, 192, 192);
  }
  
  div #block-b{
    background-color: lightgreen;
  }
  
  div #block-c{
    background-color: lightblue;
  }
  
  div #block-d{
    background-color: rgb(156, 199, 241);
  }
  
  div #block-e{
    background-color: greenyellow;
  }
  
  div #block-f{
    background-color: lightskyblue;
  }
  
  div #block-g{
    background-color: lightsteelblue;
  }
  
  div #block-h{
    background-color: yellowgreen;
  }
  
  div #block-i{
    background-color: rgb(89, 167, 231);
  }
}
