/* The way we lay things out on a page
  - width, height, float, flexbox, css grid, margins, positioning
*/


/*************************************************************/
/************************* Overall ***************************/
/*************************************************************/

div{
  margin: auto;
  text-align: center;
}


/*************************************************************/
/**************** Mobile Header (Box A) **********************/
/*************************************************************/

header#block-a{
  height: 75px;
  width: 100%;
  margin: auto;
  text-align: center;
  line-height: 75px;
}


/*************************************************************/
/********************** Mobile Box B *************************/
/*************************************************************/

div#block-b{
  height: 150px;
  width: 100%;
  line-height: 150px;
}


/*************************************************************/
/********************** Mobile Box C *************************/
/*************************************************************/

div#block-c{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box D *************************/
/*************************************************************/

div#block-d{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box E *************************/
/*************************************************************/

div#block-e{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: left;
}


/*************************************************************/
/********************** Mobile Box F *************************/
/*************************************************************/

div#block-f{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: right;
}


/*************************************************************/
/********************** Mobile Box G *************************/
/*************************************************************/

div#block-g{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: left;
}


/*************************************************************/
/********************** Mobile Box H *************************/
/*************************************************************/

div#block-h{
  height: 250px;
  width: 50%;
  line-height: 250px;
  float: right;
}


/*************************************************************/
/********************** Mobile Box I *************************/
/*************************************************************/

div#block-i{
  height: 80px;
  width: 100%;
  line-height: 80px;
  float: left;
  
}


/*************************************************************/
/********************** Media Queries ************************/
/*************************************************************/


/* Sets the color of the blocks for mobile screens */
@media screen and (max-width: 600px) {
  header{
    background-color: lightcyan;
  }
  
  div #block-b{
    background-color: lightgreen;
  }
  
  div #block-c{
    background-color: lightblue;
  }
  
  div #block-d{
    background-color: lightslategray;
  }
  
  div #block-e{
    background-color: greenyellow;
  }
  
  div #block-f{
    background-color: lightskyblue;
  }
  
  div #block-g{
    background-color: lightsteelblue;
  }
  
  div #block-h{
    background-color: yellowgreen;
  }
  
  div #block-i{
    background-color: lightgray;
  }
}

/* Sets the color of the blocks for tablet screens */
@media screen and (min-width: 601px) and (max-width: 768px) {
  header{
    background-color: pink;
  }
  
  div #block-b{
    background-color: lightcoral;
  }
  
  div #block-c{
    background-color: lightpink;
  }
  
  div #block-d{
    background-color: orchid;
  }
  
  div #block-e{
    background-color: peru;
  }
  
  div #block-f{
    background-color: plum;
  }
  
  div #block-g{
    background-color: violet;
  }
  
  div #block-h{
    background-color: lightsalmon;
  }
  
  div #block-i{
    background-color: goldenrod;
  }
}


/* Sets the color of the blocks for desktop screens, max screen size supported is 960px */
@media screen and (min-width: 769px) {
  /* Set the new block colors */
  header{
    background-color: royalblue;
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 100px;
  }
  
  div #block-b{
    background-color: green;
    height: 600px;
    width: 20.83%;
    line-height: 600px;
    float: left;
  }
  
  div #block-c{
    background-color: red;
    height: 200px;
    width: 39.58%;
    line-height: 200px;
    float: left;
  }
  
  div #block-d{
    background-color: yellow;
    height: 200px;
    width: 39.58%;
    line-height: 200px;
    float: right;
  }
  
  div #block-e{
    background-color: orange;
    height: 250px;
    width: 19.79%;
    line-height: 250px;
    float: left;
  }
  
  div #block-f{
    background-color: purple;
    height: 250px;
    width: 19.79%;
    line-height: 250px;
    float: left;
  }
  
  div #block-g{
    background-color: indianred;
    height: 250px;
    width: 19.79%;
    line-height: 250px;
    float: left;
  }
  
  div #block-h{
    background-color: hotpink;
    height: 250px;
    width: 19.79%;
    line-height: 250px;
    float: left;
  }
  
  div #block-i{
    background-color: darkslategray;
    height: 150px;
    width: 79.17%;
    line-height: 150px;
    float: left;

  }


}