/* The way we lay things out on a page
  - width, height, float, flexbox, css grid, margins, positioning
*/


/*************************************************************/
/************************* Overall ***************************/
/*************************************************************/

body{
  text-align: center;
}

div{
  border: slateblue 1px solid;
  display: flex;
  flex-wrap: wrap;
  /* TODO: 'justify-content' is causing blocks e - h in desktop screen mode to not align properly; it is likely a combination of events but this is part of the issue */
  /* justify-content: center; */
}

/*************************************************************/
/**************** Mobile Header (Box A) **********************/
/*************************************************************/

header#block-a{
  height: 75px;
  width: 100%;
  line-height: 75px;
  border: slateblue 1px solid;
}


/*************************************************************/
/********************** Mobile Box B *************************/
/*************************************************************/

div#block-b{
  height: 150px;
  width: 100%;
  line-height: 150px;
}


/*************************************************************/
/********************** Mobile Box C *************************/
/*************************************************************/

div#block-c{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box D *************************/
/*************************************************************/

div#block-d{
  height: 125px;
  width: 100%;
  line-height: 125px;
}


/*************************************************************/
/********************** Mobile Box E *************************/
/*************************************************************/

div#block-e{
  height: 250px;
  width: 50%;
  line-height: 250px;
  flex-shrink: 1;

}


/*************************************************************/
/********************** Mobile Box F *************************/
/*************************************************************/

div#block-f{
  height: 250px;
  width: 50%;
  line-height: 250px;
  flex-shrink: 1;

}


/*************************************************************/
/********************** Mobile Box G *************************/
/*************************************************************/

div#block-g{
  height: 250px;
  width: 50%;
  line-height: 250px;

}


/*************************************************************/
/********************** Mobile Box H *************************/
/*************************************************************/

div#block-h{
  height: 250px;
  width: 50%;
  line-height: 250px;

}


/*************************************************************/
/********************** Mobile Box I *************************/
/*************************************************************/

div#block-i{
  height: 80px;
  width: 100%;
  line-height: 80px; 
}

/*************************************************************/
/********************** Media Queries ************************/
/*************************************************************/


/* Sets the color of the blocks for mobile screens */
@media screen and (max-width: 600px) {
  header{
    background-color: rgb(94, 192, 192);
  }
  
  div #block-b{
    background-color: lightgreen;
  }
  
  div #block-c{
    background-color: lightblue;
  }
  
  div #block-d{
    background-color: rgb(156, 199, 241);
  }
  
  div #block-e{
    background-color: greenyellow;
  }
  
  div #block-f{
    background-color: lightskyblue;
  }
  
  div #block-g{
    background-color: lightsteelblue;
  }
  
  div #block-h{
    background-color: yellowgreen;
  }
  
  div #block-i{
    background-color: rgb(89, 167, 231);
  }
}


/* Sets the color of the blocks for tablet screens */
@media screen and (min-width: 601px) and (max-width: 768px) {
  header{
    background-color: pink;
  }
  
  div #block-b{
    background-color: lightcoral;
  }
  
  div #block-c{
    background-color: lightpink;
  }
  
  div #block-d{
    background-color: orchid;
  }
  
  div #block-e{
    background-color: peru;
  }
  
  div #block-f{
    background-color: plum;
  }
  
  div #block-g{
    background-color: violet;
  }
  
  div #block-h{
    background-color: lightsalmon;
  }
  
  div #block-i{
    background-color: goldenrod;
  }
}


/* Sets the color of the blocks for desktop screens, expands without max screen width */
@media screen and (min-width: 769px) {
  /* Set the new block colors */
  
   
  header{
    background-color: royalblue;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
  }
  
  div #block-b{
    background-color: green;
    height: 600px;
    width: 20%;
    line-height: 600px;
    order: -1;
  }
  
  div #block-c{
    background-color: red;
    height: 200px;
    width: 40%;
    line-height: 200px;
    /* order: -1; */
  }
  
  div #block-d{
    background-color: yellow;
    height: 200px;
    width: 40%;
    line-height: 200px;
    /* order: 1; */
  }
  
  div #block-e{
    background-color: orange;
    height: 250px;
    width: 20%;
    line-height: 250px;
    /* order: 1; */
  }
  
  div #block-f{
    background-color: purple;
    height: 250px;
    width: 20%;
    line-height: 250px;
    /* order: 1; */
  }
  
  div #block-g{
    background-color: indianred;
    height: 250px;
    width: 20%;
    line-height: 250px;
    /* order: 1; */
  }
  
  div #block-h{
    background-color: hotpink;
    height: 250px;
    width: 20%;
    line-height: 250px;
    /* order: 1; */
  }
  
  div #block-i{
    background-color: darkslategray;
    height: 150px;
    width: 80%;
    line-height: 150px;
    /* order: 1; */
  }
}